<div class="profile profile-normal">
	<h2> <%= users[0] %></h2>

	
	<img src="<%= profilepic %>" alt="user profile picture" />

	<div class="profile profile-description-normal">
	<p> Here goes profile description for user profile. Might not be that long.. Could be replaced by message cards</p>
	</div>
</div> 

