<!DOCTYPE html>
<html lang="en">
<head><% include partials/page/head.ejs %>
	

</head>
  
<body class="<%= classname %>">

<% include partials/page/header.ejs %>


 

 	
 		<div class="row">	
 			<div class="col-md-4"> 
 			<% include partials/profile/default_side_profile.ejs %>
 			</div>

 		</div> <!-- row -->
 	
 	<%= rss %>

 	<% include partials/page/footer.ejs %>
 	<% include partials/page/jsdefaults.ejs %>
 
  </body>
</html>
 


