<header>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
		
			<div class="navbar-header">
				<a class="navbar-brand" href="#"> Website name </a> <!-- Here should be a company picture if posible -->
			</div>

			<ul class="nav navbar-nav">
				<li> <a href="#">Home</a> </li>
				<li> <a href="#">Profile</a> </li>
				<li> <a href="#">Gallery</a> </li>
				<li> <a href="#">About us</a> </li>
			</ul>
		
		</div>
	</nav>
</header>